.footer {
	display: block;
	color: silver;
	border-top: 2px solid #0de0d3;
	max-width: 1200px;
	margin: auto;
	padding: 20px 10px 0 10px;
}

/* TOP */
.topFooter {
	display: flex;
	justify-content: space-between;
	padding: 0 0 5px 0 ;
}
.HFooter {
	font-size: 20px;
}
.avis {
	display: flex;
	justify-content: space-between;
	width: 230px;
	height: 32px;
	
}
.starContainer {
	width: 105px;
}
.paymentIcons {
	width: 150px;
	display: flex;
	justify-content: space-around;
}
/* MIDDLE */
.middleFooter {
	display: flex;
	justify-content: space-between;
	border-top: silver 1px solid;
	padding: 15px 0 5px 0 ;
}
.footer li {
	font-size: 16px;

}
.footer a {
	color: silver !important;
}


/* BOTTOM */
.bottomFooter {
	border-top: silver 1px solid;
	width: 100%;
	max-width: 1200px;
	display: flex;
	padding: 15px 0;
	justify-content:space-between;
}
.copyright {
	line-height: 40px;
	margin: 0;
}
.socialNetwork {
	display: flex;
	width: 375px;
	justify-content: space-around;
}
.coordonnees {
	width: 90px;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 640px) {
	.topFooter {
		display: block;
	margin: auto;	
	padding-bottom: 15px;
	}

.topFooter p {
	text-align: center;
}
.avis, .paymentIcons {
margin: auto;
}
}
@media (max-width: 525px) {
	.bottomFooter {		
		display: block;
	}
	.copyright {
		text-align: center;
		margin-bottom: 10px;
	}
	.socialNetwork {
		margin: auto;
	}
	.middleFooter {
		display: block;
	}
	.middleFooter ul li, .middleFooter h2 {
		text-align: center;
	  }

}
@media (max-width: 485px) {
	.copyright {
		font-size: 12px;
	}
	.socialNetwork {
		flex-wrap: nowrap;
		margin: 20px 0 10px 0;
	}
}
