.languagesIcon {
	margin: 0 10px;
	transition: transform 0.3s ease-in-out;
}

.languagesIcon:hover {
	transform: scale(1.1);
}
.languagesLogoContainer {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px 0;
    width: 80%;
}